parameters:
    level: 8
    checkMissingIterableValueType: false
    paths:
        - DependencyInjection
        - Model
        - Tests
        - Twig
    ignoreErrors:
        - '#Function twig_escape_filter not found\.#'