<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true">
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <logging>
        <testdoxHtml outputFile="./tmp/logging/testdox.html"/>
        <testdoxText outputFile="./tmp/logging/testdox.txt"/>
        <text outputFile="./tmp/logging/logfile.txt"/>
    </logging>

    <coverage>
        <include>
            <directory suffix=".php">DependencyInjection</directory>
            <directory suffix=".php">Model</directory>
            <directory suffix=".php">Twig</directory>
        </include>

        <report>
            <html outputDirectory="./tmp/coverage/html"
                  lowUpperBound="50"
                  highLowerBound="90"/>
            <text outputFile="php://stdout"
                  showUncoveredFiles="false"
                  showOnlySummary="true"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>